/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.content-row {
  display: flex;
  width: 100%;
  justify-content: center;
}

.content-div {
  width: 90%;
}

body,
#root {
  width: 100%;
}
